<web-app>
<servlet>
	<servlet-name>xyz</servlet-name>
	<servlet-class>Servlet1</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>xyz</servlet-name>
	<url-pattern>/s1</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>abc</servlet-name>
	<servlet-class>Servelt2</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>abc</servlet-name>
	<url-pattern>/s2</url-pattern>
</servlet-mapping>
</web-app>