<?xml version="1.0" encoding="UTF-8"?>


<web-app>
<servlet>
	<servlet-name>GetDataFromDB</servlet-name>
	<servlet-class>p1.GetDataFromDB</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>GetDataFromDB</servlet-name>
	<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

<listener>
	<listener-class>p1.Listener</listener-class>
</listener>
</web-app>