<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <servlet>
  	<servlet-name>FilterServlet</servlet-name>
  	<servlet-class>p1.FilterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>FilterServlet</servlet-name>
  	<url-pattern>/filter</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>MyFilter</filter-name>
  <filter-class>p1.MyFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>MyFilter</filter-name>
  <url-pattern>/filter</url-pattern>
  </filter-mapping>
  
  
</web-app>