<web-app>
<servlet>
	<servlet-name>Servlet1</servlet-name>
	<servlet-class>Servlet1</servlet-class>
		<init-param>
			<param-name>age</param-name>
			<param-value>25</param-value>
		</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>Servlet1</servlet-name>
	<url-pattern>/s1</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Servelt2</servlet-name>
	<servlet-class>Servelt2</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Servelt2</servlet-name>
	<url-pattern>/s2</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>email</param-name>
	<param-value>kripanand22@gmail.com</param-value>
</context-param>
</web-app>